# Ignore node_modules
node_modules

# Ignore .next build folder
.next

# Ignore Dockerfile and .dockerignore itself
.dockerignore

# Ignore any local environment files you may have
.env.local
.env.*.local

# Ignore logs and temporary files
*.log
